*.pyc
*~
.idea/
.vscode/
.DS_Store
*.swp
*.db
*key
*.log
google_signin_client_id
db_url*
schema.sql
*screenlog*
**/data/*
!**/data/pretrained_models/
!**/data/dataset/
!**/data/production_url_list/
back-end/www/**/*.pt
back-end/www/**/*.pkl
env.yml
runs/
jobs/
dl2023_gpu.yml
test_annotations/
datasets/
SAM/
yolo_OSL/
YOLOv8/
slurm_outputs/
datasets/
yolo_OSL/
YOLOv8/data/annotated_data